@import "normalize.css";

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 800

.jetbrains-mono-<brains> {
  font-family: "JetBrains Mono", monospace;
} */

* {
  background-color: #1C1B22;
  color: aliceblue;
  font-family: "JetBrains Mono", monospace;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}